*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color:rgb(122, 122, 215);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin-left: 50px;
    margin-right: 50px;
}

.boton{
    display: block;
    background-color: red;
    color: black;
    margin: 20px auto;
    width: 160px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
}

.boton:hover{
    background-color: blue;
    color: rgb(19, 195, 226);
}

.boton:active{
    background-color: yellow;
    color: chocolate;
}

#P1:target{
    background-color: rgba(111, 153, 70, 0.4);
}

#P2:target{
    background-color: rgba(85, 157, 13, 0.4);
}

#P3:target{
    background-color: rgba(56, 105, 7, 0.4);
}

.textos1, .textos2{
    background-color: darkmagenta;
    width: max-content;
    padding:60px;
    margin: 30px auto;
    text-align: center;

}

/*.textos1 p:first-child*/

/*.textos1 p:last-child*/

/*.textos1 p:nth-child(odd)*/

/* .textos1 p:nth-child(even) */

/* .textos1 p:nth-child(3) */

/* .textos1 p:nth-last-child(n+3) */

.textos1 p:nth-child(n+3), .textos2 p:nth-child(n+3){

    background-color: deeppink;
    color: whitesmoke;

}

.tabla{
    margin: 30px auto;
    border-collapse: collapse;

}

.tabla th, td{
    border: 2px solid blue;
    padding: 5px;

}

.tabla thead{
    background-color: brown;
    color: floralwhite;
}

.tabla tr:nth-child(even){
    background-color: rgb(38, 202, 161);
}

.Nombre{
    display: flex;
    margin: 40px auto;
    justify-content: center;
    list-style: none;
}

.Nombre li{
    font-size: xx-large;
    font-weight: bold;
}

.Nombre li:nth-child(odd){
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    box-shadow: 5px 5px 7px gray;
    text-shadow: 5px 5px 7px gray;
}

.Nombre li:nth-child(even){
    background-color: aliceblue;
    color: blue;
    padding: 10px;
    box-shadow: 5px 5px 7px gray;
    text-shadow: 5px 5px 7px  gray;
}

.lista{
    width: max-content;
    margin: 30px auto;
    list-style: none;
    background-color: coral;
    padding: 20px;
}

.lista li::before{
    content: "游눗";
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}

.textos2 p::after{
    content: "游눛";
}

.cuadro{
    background-color: rgba(255, 105, 180, 0.4);
    width: 55%;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.cuadro::before{
    width: 80px;
    height: 30px;
    content: "游놓游놓游놓";
    top: calc(50% - 15px);
    right: calc(100% - 15px);
    position: absolute;
}

.cuadro::after{
    width: 80px;
    height: 30px;
    content: "游놓游놓游놓";
    top: calc(50% - 15px);
    left: calc(100% - 15px);
    position: absolute;
}

@media screen and (max-width:500px) {
    .cuadro::after, .cuadro::before{
        content:"" ;

    }

    .cuadro{
        width: 100%;
    }
    
}

.formu{
    margin: 50px 20px;
}

label{
    background-color: aquamarine;
    padding: 10px;
    color: brown;
}

.formu:checked + label{
    background-color: blue;
    transition: 3s;
}